.modal-header
  h3.modal-title 表格設定有誤
.modal-body
  p <code>/{{ErrorModal.id}}</code> 的設定有問題喲！
  p <a ng-href="http://ethercalc.org/{{ErrorModal.id}}">EtherCalc 設定</a>裡面至少要有 <kbd>DOC_ID</kbd> 或 <kbd>DATA_URL</kbd> 才對。請參考<a href="http://github.com/mrorz/hacktabl">說明文件</a>。
.modal-footer
  button.btn.btn-lg.btn-link(type="button" ng-click="ErrorModal.handleHomeButton()") 回 Hacktabl 首頁
  a.btn.btn-lg.btn-primary(type="button" ng-href="http://ethercalc.org/{{ErrorModal.id}}") 修改設定