.modal-header
  h3.modal-title 表格設定有誤
.modal-body
  p 請檢查您的 <a ng-href="{{ErrorModal.ethercalcData.EDIT_URL}}">Google Doc</a> 分享設定，至少應該要讓所有人能檢視喲！
.modal-footer
  button.btn.btn-lg.btn-link(type="button" ng-click="ErrorModal.handleHomeButton()") 回 Hacktabl 首頁
  a.btn.btn-lg.btn-primary(type="button" ng-href="{{ErrorModal.ethercalcData.EDIT_URL}}") 前往 Google Doc