/*
 *= require_self
 */

// customize bootstrap variables here:
@import variables
@import bootstrap
@import compass/typography
@import compass/css3
@import compass/layout/stretching

html
  font-size: $font-size-base

body
  // Make sure there is always a scroll on the right.
  // bootstrap modal needs the scroll to prevent the body from shifting around.
  overflow-y: scroll

.btn
  +transition(all ease-in-out .1s)
  outline: none
  &:focus, &:focus:active
    outline: none
  &::-moz-focus-inner
    border: 0

.btn-primary
  border: none
  +box-shadow(0 4px $brand-primary)

  &:active
    +translate3d(0, 4px, 0)
    +box-shadow(0 0 $brand-primary)

// Override modal-footer
.modal-footer
  text-align: left



#header
  // Generates containing block layout
  //
  .containing-block
    position: relative

  // All styles that is related to heights of sticky bar
  =set-heights($line-count)
    $h:$line-count * $line-height
    height: $h

    // The element after #header should have enough margin-top
    + *
      padding-top: $h

    // Make containing block the same height of #header.
    .containing-block
      height: $h

    h1
      margin: ($line-count - $line-height-large) * $line-height / 2

    $toolbox-btn-height: ($line-count - 1) * $line-height
    $toolbox-padding: ($h - $toolbox-btn-height) / 2
    .toolbox
      padding-top: $toolbox-padding
      button
        height: $toolbox-btn-height

    .toolbox-btn-group
      margin-left: $toolbox-padding
      &:first-child
        margin-left: 0

    .title.is-prev
      +translate3d(0, -$h, 0)
    .title.is-next
      +translate3d(0, $h, 0)

    .header-left, .header-right
      padding-top: ($line-count - 1) * $line-height / 2

    .titlebar.ng-leave.ng-leave-active, .titlebar.ng-enter
      +translate3d(0, $h, 0)

  +set-heights(2) // Mobile sticky bar should be 2 lines high.
  position: fixed
  +translate3d(0,0,0) // Confine repaint rectangle
  top: 0
  left: 0
  right: 0
  background: rgba($brand-primary, .95)
  color: $body-bg
  z-index: $zindex-navbar-fixed

  // Set right padding when modal dialog is open.
  // Otherwise the modal may shift a bit when dialog open/closes.
  .modal-open &
    padding-right: inherit // Inherit body's padding-right set by javascript.

  h1
    font-size: $font-size-large
    line-height: $line-height-large
    height: $line-height-large * $line-height
    position: relative // For the .title inside
    overflow: hidden  // Hide excessive .title

  .title
    +stretch
    +translate3d(0, 0, 0)
    +transition(all .15s ease-in-out)

  @media screen and (min-width: $screen-sm-min)
    +set-heights(3)  // Sticky bar on large screens should be 3 lines high.

  .titlebar-container // Cropping the titlebar
    // Create containing block for the fixed menu
    +stretch
    overflow: hidden

  .titlebar
    +stretch
    +transition(all .15s ease-in-out)

  .titlebar.ng-leave, .titlebar.ng-enter.ng-enter-active
    +translate3d(0, 0, 0)

  .toolbox
    .toolbox-btn-group // Overriding bootstrap btn-group
      float: none
      display: inline-block
    button
      border: 0
      background: $gray
      color: $brand-primary

      &:hover
        background: $gray-dark

  .menu-perspective
    // Use position: fixed to break through overflow: hidden of .titlebar-container
    position: fixed
    left: 50%
    margin-left: -5rem // Fine-tuned to align the button...
    margin-top: -0.5rem

.main-loading
  margin: $line-height 0

// Table row layout
//
.l-row
  padding: $line-height 0 rem-calc($line-height-px - 1px)
  border-bottom: rem-calc(1px) dashed $brand-success
  position: relative // containing block of scroll-anchor

  // The anchor for scrolling & spy
  .scroll-anchor
    +stretch
    top: -2 * $line-height + rem-calc(1px) // Height of the fixed header, minus 1px space
    z-index: -1 // Do not block input

    @media screen and (min-width: $screen-sm-min)
      top: -3 * $line-height + rem-calc(1px) // Height of the fixed header, minus 1px space

  ul
    padding-left: 1rem
    margin-bottom: 0

  li
    $delay: 0.5s
    position: relative // For the pseudo element
    z-index: 0
    +transition(z-index 0.2s)
    +transition-delay(0)

    .ref
      font-style: italic
      position: absolute
      +stretch(100%, 0, -$line-height, 0)
      height: $line-height
      opacity: 0
      +transition(opacity 0.2s ease-in-out)
      +transition-delay(0)
      color: $gray-dark

      // Insert the two word into the compiled content
      > div
        +ellipsis
        height: $line-height

        &:before
          content: '出處：'

    // The white card with box shadow when hover
    &:after
      +stretch(-0.5rem, -0.5rem, -$line-height - 0.5rem, -0.5rem)
      content: ''
      background: $body-bg
      z-index: -1
      opacity: 0
      +transition(all 0.2s ease-in-out)
      +transition-delay(0)
      border-radius: $border-radius-base

    &:hover
      +transition-delay($delay) // Delay the z-index transition
      z-index: 1 // Higher than others
      // list-style-type: none // Looks weird...
      .ref
        opacity: 1
        +transition-delay($delay)

      &:after
        opacity: 1
        +box-shadow(0 2px 6px 2px rgba(#000, .2))
        +transition-delay($delay)

    [comment]
      $line-color: desaturate(lighten($brand-success, 60%), 20%)
      background: $line-color image-url('line.png') repeat-x bottom center
      cursor: pointer
      // position: relative // Create containing block for pseudo-elements
      // z-index: 0 // Create stacking context for pseudo-elements

      // Beginning and ending of the line
      // &:before, &:after
      //   position: absolute
      //   bottom: 0
      //   content: ''
      //   z-index: -1 // Don't cover the text

      // &:before
      //   left: 0
      //   background: $line-color image-url('line-start.png') no-repeat bottom left
      //   width: image-width('line-start.png')
      //   height: image-height('line-start.png')

      // &:after
      //   right: 0
      //   background: $line-color image-url('line-end.png') no-repeat bottom left
      //   width: image-width('line-end.png')
      //   height: image-height('line-end.png')

  .add-more
    position: relative
    z-index: 0 // As high as the <li>s

    // Fine-tune the margins. Magic numbers.
    margin: $line-height 1rem

    .glyphicon
      margin-right: 1rem


  // Center title column
  //
  .row-center
    $letter-spacing: rem-calc(7px)
    $font-size-px: 14px

    font-family: $font-family-serif
    color: $brand-success

    h2
      letter-spacing: $letter-spacing
      // Canceling letter-spacing right space
      // http://stackoverflow.com/questions/14678154/centre-align-text-that-has-extra-letter-spacing-applied
      margin: 0 $letter-spacing * -1 $line-height 0

      @media screen and (min-width: $screen-sm-min)
        margin-bottom: 0

    .ampersand
      font-size: rem-calc($font-size-px)
      color: rgba($brand-success, 0.32)
      // Canceling the extra space of h2 on the right
      margin-right: $letter-spacing
      letter-spacing: 0

      @media screen and (min-width: $screen-sm-min)
        position: relative
        display: block
        line-height: 20px/$font-size-px


        &:before
          content: ''
          border-top: 1px solid rgba($brand-success, 0.32)
          top: 50%
          position: absolute
          $w: $font-size-h2 * 2 + $letter-spacing
          width: $w
          left: 50%
          margin-left: $w/-2
          z-index: -2

        &:after
          content: ''
          background: $body-bg
          position: absolute
          top: 0
          left: 50%
          height: 100%
          width: 2rem
          margin-left: -1em
          z-index: -1


  .column-empty
    text-align: center
    color: $gray-dark
    font-size: $font-size-large
    line-height: $line-height-large


#edit
  margin-top: $line-height
  margin-bottom: $line-height