/*
 *= require_self
 */

// customize bootstrap variables here:
@import variables
@import bootstrap
@import compass/typography
@import compass/css3
@import compass/layout/stretching

html
  font-size: $font-size-base

.btn
  +transition(all ease-in-out .1s)
  outline: none
  &:focus, &:focus:active
    outline: none
  &::-moz-focus-inner
    border: 0

.btn-primary
  border: none
  +box-shadow(0 4px $brand-primary)

  &:active
    +translate3d(0, 4px, 0)
    +box-shadow(0 0 $brand-primary)

#header
  // All styles that is related to heights of sticky bar
  =set-heights($line-count)
    $h:$line-count * $line-height
    height: $h

    // The element after #header should have enough margin-top
    + *
      padding-top: $h

    h1
      margin: ($line-count - $line-height-large) * $line-height / 2

    $toolbox-btn-height: ($line-count - 1) * $line-height
    $toolbox-padding: ($h - $toolbox-btn-height) / 2
    .toolbox
      padding-top: $toolbox-padding
      button
        height: $toolbox-btn-height

    .toolbox-btn-group
      margin-left: $toolbox-padding
      &:first-child
        margin-left: 0

    .titlebar-container
      height: $h

    .title.is-prev
      +translate3d(0, -$h, 0)
    .title.is-next
      +translate3d(0, $h, 0)

    .header-left, .header-right
      padding-top: ($line-count - 1) * $line-height / 2

    .titlebar.ng-leave.ng-leave-active, .titlebar.ng-enter
      +translate3d(0, $h, 0)

  +set-heights(2) // Mobile sticky bar should be 2 lines high.
  position: fixed
  top: 0
  left: 0
  right: 0
  background: rgba($brand-primary, .95)
  color: $body-bg
  z-index: $zindex-navbar-fixed

  h1
    font-size: $font-size-large
    line-height: $line-height-large
    height: $line-height-large * $line-height
    position: relative // For the .title inside
    overflow: hidden  // Hide excessive .title

  .title
    +stretch
    +translate3d(0, 0, 0)
    +transition(all .15s ease-in-out)

  @media screen and (min-width: $screen-sm-min)
    +set-heights(3)  // Sticky bar on large screens should be 3 lines high.

  .titlebar-container // Cropping the titlebar
    overflow: hidden

  .titlebar
    +stretch
    +transition(all .15s ease-in-out)

  .titlebar.ng-leave, .titlebar.ng-enter.ng-enter-active
    +translate3d(0, 0, 0)

  .toolbox
    .toolbox-btn-group // Overriding bootstrap btn-group
      float: none
      display: inline-block
    button
      border: 0
      background: $gray
      color: $brand-primary

      &:hover
        background: $gray-dark


// Table row layout
//
.l-row
  padding: $line-height 0 rem-calc($line-height-px - 1px)
  border-bottom: rem-calc(1px) dashed $brand-success

  ul
    padding-left: 1rem
    margin-bottom: 0

  .row-center
    $letter-spacing: rem-calc(7px)
    $font-size-px: 14px

    font-family: $font-family-serif
    color: $brand-success

    h2
      letter-spacing: $letter-spacing
      // Canceling letter-spacing right space
      // http://stackoverflow.com/questions/14678154/centre-align-text-that-has-extra-letter-spacing-applied
      margin-right: $letter-spacing * -1
      margin: 0 0 $line-height

      @media screen and (min-width: $screen-sm-min)
        margin: 0

    .ampersand
      font-size: rem-calc($font-size-px)
      color: rgba($brand-success, 0.32)
      // Canceling the extra space of h2 on the right
      margin-right: $letter-spacing
      letter-spacing: 0

      @media screen and (min-width: $screen-sm-min)
        position: relative
        display: block
        line-height: 20px/$font-size-px


        &:before
          content: ''
          border-top: 1px solid rgba($brand-success, 0.32)
          top: 50%
          position: absolute
          $w: $font-size-h2 * 2 + $letter-spacing
          width: $w
          left: 50%
          margin-left: $w/-2
          z-index: -2

        &:after
          content: ''
          background: $body-bg
          position: absolute
          top: 0
          left: 50%
          height: 100%
          width: 2rem
          margin-left: -1em
          z-index: -1


  .column-empty
    text-align: center
    color: $gray-dark
    font-size: $font-size-large
    line-height: $line-height-large


#edit
  margin-top: $line-height
  margin-bottom: $line-height