div(class="tooltip {{placement}}" ng-class="{ in: isOpen(), fade: animation() }")
  div.tooltip-arrow
  div.tooltip-inner
    div(ng-repeat="comment in comments track by $index").text-left
      div(ng-switch="comment.type")
        span.label.label-warning(ng-switch-when="REF_MISSING") 需要來源
        span.label.label-warning(ng-switch-when="REF_CONTROVERSIAL") 來源爭議
        span.label.label-info(ng-switch-when="NOTE") 補充說明
        span.label.label-info(ng-switch-when="QUESTIONABLE") 網友質疑
        span(ng-switch-default)
          span.label.label-info(ng-if="$index>0") 網友回應
      div(ng-bind-html="comment.content")

    p: a(ng-href="{{::EDIT_URL}}" ga ga-label="comment.edit")
      span.glyphicon.glyphicon-plus
      | 
      | 新增回應