.modal-header
  h2.modal-title
    | 編輯公約

.modal-body

  p.lead 歡迎大家編輯，品質 blahblah 這 modal 內容還沒寫好呀，所以請大家遵守<a ng-href="{{::Modal.RULE_URL}}">編輯規則</a>，概述如下。

  ul
    li 目前是匿名，是情況更改（實驗說明）
    li 我們會刪改字，標上標籤。
    li 大家可以在 google doc

.modal-footer
  a.btn.btn-lg.btn-primary(ng-href="{{::Modal.EDIT_URL}}") 前往編輯表格
  a.btn.btn-lg.btn-link(ng-href="{{::Modal.RULE_URL}}") 編輯規則與 Q &amp; A
