.modal-header
  h2.modal-title
    | 編輯公約

.modal-body

  p.lead
    |《自經區比較表》希望成為討論自經區的議題共筆。集眾人之力編成的<u>精簡</u>而<u>有力</u>的論述，是比較表的核心價值。

  p 為了讓這份表格能為大眾持續提供價值，請大家遵守<a ng-href="{{::Modal.RULE_URL}}">編輯規則</a>，概述如下。

  ul
    li 「有力」的論述不只要講結論，還要帶到<u>原因</u>，讓讀者一眼就能看出思考脈絡。
    li 目前完全開放匿名編輯，包含新增、修改，以及用「註解」標記爭議與補充說明。
    li 表格管理員會定期精簡文字、標記出處問題與爭議（類似維基百科的管理模式）。

.modal-footer
  a.btn.btn-lg.btn-primary(ng-href="{{::Modal.EDIT_URL}}") 前往編輯表格
  a.btn.btn-lg.btn-link(ng-href="{{::Modal.DISCUSS_URL}}") 編輯討論區
  a.btn.btn-lg.btn-link(ng-href="{{::Modal.RULE_URL}}") 編輯規則與 Q &amp; A
