.modal-header
  button.close(type="button" ng-click="$close()") &times;
  h2.modal-title
    | Hacktabl 協作比較表格 &nbsp;&nbsp;&nbsp;&nbsp;
    small: a(href="https://github.com/MrOrz/hacktabl")
      span.glyphicon.glyphicon-link
      | 網站原始碼

.modal-body
  iframe(ng-src="{{Modal.INFO_URL}}")

.modal-footer
  a.btn.btn-lg.btn-link(ng-href="http://ethercalc.org/{{::Modal.ethercalcId}}" ga ga-label="'edit.discuss'") Ethercalc 設定
  a.btn.btn-lg.btn-primary(ng-href="{{::Modal.EDIT_URL}}" ga ga-label="'edit.gdoc'") 編輯表格