.modal-header
  button.close(type="button" ng-click="$close()") &times;
  h2.modal-title
    | 自經區正反意見比較表&nbsp;&nbsp;&nbsp;&nbsp;
    small: a(href="https://github.com/fepztw/fepztw.github.io")
      span.glyphicon.glyphicon-link 
      | 網站原始碼

.modal-body
  p 立場選擇是一件困難的事情。若想要參照雙方說法，決定自己在爭議性議題（ex: 服貿、自經區）的立場，會有大量的資料要讀；有些反方的疑慮已經被政府解答，而有些政府的解答造成了更新的疑慮，人們往往會迷失在這些推陳出新的討論中，或需要花費大量的精力來記憶哪些人說了什麼話，以及哪些問題還沒有被解答。

  p 我們是來自台大資工的團隊，用 Google Doc 作為編輯介面，完全開放大家進行編輯；希望這份表格能成為雙方討論的事實基準與目前爭議點的全民共筆。

  p
    | 您在這份表格的瀏覽行為會作為
    a(href="https://compatable.hackpad.com/cotable-Bringing-the-Experience-of-Decision-Making-in-Shopping-to-Controversial-Issues-i02ML0HiVvI") 未來設計比較表介面
    | 的重要量化參考。我們不會對外洩漏您的閱覽資料，若不希望您在表格上的瀏覽行為被納入資料集，請
    a(href="mailto:johnsonliang7+fepz@gmail.com") 聯絡我們
    | 。

.modal-footer
  .row
    .col-sm-6
      div(ng-include="'public/templates/subscribe.html'")
    .col-sm-6
      h4 製作協力
      p
        a(href="http://www.ntumobile.org/") 台大行動人機互動實驗室
        a(href="mailto:johnsonliang7+fepz@gmail.com") （實驗聯絡人）
      p: a(href="http://www.cs.nccu.edu.tw/~jonesyu/cv.html") 政大創新使用者介面研究室
      p: a(href="http://g0v.tw/"): img(src="public/images/g0v-logo.png")
