div#welcome
  header.text-center
    img(src="../../images/logo-128-invert.svg")
    h1 Hacktabl
    p.lead Collaborative comparison tables

    p: a.welcome-header-button.btn.btn-lg.btn-default(href="https://github.com/mrorz/hacktabl") Read more »

  section.welcome-history.text-center(ng-if="Welcome.historyRecords.length > 0")
    h2 Recently Visited
    ul
      li(ng-repeat="record in Welcome.historyRecords track by $index")
        a(ng-href="/{{::record.key}}" ng-click="::Welcome.handleClick($event, record.key)")
          figure.text-center
            div.welcome-history-image(ng-style="record.style")
            figcaption
              h4 {{::record.title}}
              h4: small /{{::record.key}}
              p {{::record.timeStr}}

  footer.text-center
    a(href="http://g0v.tw/"): img(src="../../images/g0v-logo.png")