doctype html
html(ng-app="app")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title 自經區正反意見比較表
    != stylesheetLinkTag('styles', {assetsPath: 'public/stylesheets/'})

  body(ng-controller="AppCtrl as App")
    div.container
      header#header.row
        .header-center.col-sm-4.col-sm-push-4.col-xs-12.text-center
          h1
            | 自經比一比

        .header-left.col-sm-4.col-sm-pull-4.col-xs-6
          | 正方／支持自經區
        .header-right.col-sm-4.col-xs-6
          | 反方／自經區疑慮

    header#sticky(vu-sticky="100")
      .container: .row
        .header-left.col-xs-3
          span.glyphicon.glyphicon-ok-sign
          | 
          | 正方
        .col-xs-6.text-center
          h1
            | 自經比一比

        .header-right.col-xs-3.text-right
          | 反方
          | 
          span.glyphicon.glyphicon-exclamation-sign

    div.container
      main#main
        .row.l-row(ng-repeat="row in ::App.data.perspectives")
          .row-center.col-sm-2.col-sm-push-5.col-xs-12.text-center
            h2
              | {{::row.title[0]}}
              span.ampersand &amp;
              | {{::row.title[1]}}

          .row-left.col-sm-5.col-sm-pull-2.col-xs-6(ng-switch="::row.positions[0].length")
            ul(ng-switch-default)
              li(ng-repeat="argument in ::row.positions[0]") {{ ::argument }}
            div(ng-switch-when="0"): .column-empty(ng-include="'public/templates/empty.html'")

          .row-right.col-sm-5.col-xs-6(ng-switch="::row.positions[1].length")
            ul(ng-switch-default="")
              li(ng-repeat="argument in ::row.positions[1]") {{ ::argument }}
            div(ng-switch-when="0"): .column-empty(ng-include="'public/templates/empty.html'")

      #edit.row: .col-lg-4.col-lg-offset-4.col-xs-8.col-xs-offset-2
        a.btn.btn-primary.btn-lg.btn-block(ng-href="{{App.EDIT_URL}}")
          | 編輯表格

    != javascriptIncludeTag('app', {assetsPath: 'public/javascripts/'})